html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	font-family: $font-main;
	color: $color-dark;
}

header, article.body, footer {
	width: 100%;
	section {
		.row {
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 10px;
		}
	}
}

h1 {
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2em;
	text-align: center;
	margin-bottom: 20px;
	@media (max-width: 768px) {
		font-size: 30px;
	}
}
h2 {
	font-size: 30px;
	line-height: 1.2em;
	@media (max-width: 768px) {
		font-size: 24px;
	}
}

h3 {
	font-size: 27px;
	line-height: 1.5em;
	margin-bottom: 28px;
	text-align: center;
	@media (max-width: 768px) {
		font-size: 22px;
		margin-bottom: 20px;
	}
}

h4 {
	font-size: 22px;
	line-height: 1.5em;
	font-style: italic;
	@media (max-width: 768px) {
		font-size: 18px;
	}
}

h5 {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
	margin-bottom: 6px;
	text-align: center;
}
h6 {
	font-size: 16px;
	line-height: 1.2em;
	margin-bottom: 4px;
	text-align: center;
}

p {
	font-size: 18px;
	line-height: 1.8em;
	margin-bottom: 20px;
	&:first-of-type:last-of-type {
		margin-bottom: 0;
	}
	@media (max-width: 768px) {
		font-size: 16px;
	}
}

ul {
	list-style: disc;
	padding-left: 20px;
	li {
		font-size: 18px;
		line-height: 1.5em;
	}
}

a.btn {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	box-sizing: border-box;
	padding: 15px 0;
	max-width: 440px;
	text-align: center;
	margin: 0 auto;
	border: solid 2px $color-secondary;
	color: $color-secondary;
	text-decoration: none;
	border-radius: 6px;
	transition: all .2s ease;
	&:hover {
		color: $color-white;
		background-color: $color-secondary;
	}
}

img {
	max-width: 100%;
}

blockquote {
	font-size: 23px;
	font-style: italic;
	position: relative;
	line-height: 1.5em;
	padding: 0px 0px 0px 70px;
	z-index: 10;
	&:before {
		content: '';
		display: block;
		width: 53px;
		height: 36px;
		background-image: url('./images/left-quote.png');
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&:after {
		content: '';
		display: block;
		width: 53px;
		height: 36px;
		background-image: url('./images/right-quote.png');
		background-repeat: no-repeat;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
	cite {
		display: block;
		text-align: right;
		font-weight: 700;
		font-style: normal;
		padding: 15px 70px 0px 0px;
		&:before {
			content: '-';
		}
	}
}

strong {
	font-weight: 600;
}
em {
	font-style: italic;
}

sup {
    position: relative;
    top: -6px;
    font-size: .7em;
    color: inherit;
}