/**************************************/
// Table Of Contents
//
//	Section 1: Homepage
//	Section 2: Contact Form
//	Section 3: Services Page
//	Section 4: Specialists Page
//  Section 5: Testimonials Page
//
/**************************************/



////////////////////////
//
//	Section 1: Homepage
//
////////////////////////


.homepage {
	> section[class*="-row"] {
		box-sizing: border-box;
		padding: 60px 0;
		&:nth-child(odd) {
			background-color: $color-ltGray;
		}
	}
}

.row {
	@include clearfix();
}
.column {
	float: left;
	margin-bottom: 32px;
	@media (max-width: 768px) {
		float: none;
	}
	&.half {
		width: 47%;
		&:last-child {
			margin-left: 6%;
		}
		@media (max-width: 768px) {
			width: 100%;
			&:last-child {
				margin-left: 0;
			}
		}
	}
}

.primary-row {
	padding: 40px 0;
	h4 {
		text-align: center;
	}
}

.secondary-row {
	.row {
		.column {
			&.left, &.right {
				width: 38%;
			}
			&.middle {
				width: 24%;
				text-align: center;
				img {
					position: relative;
					top: 14px;
				}
			}
			@media (max-width: 768px) {
				&.left, &.right, &.middle {
					width: 100%;
				}
			}
		}
	}
}

.tertiary-row {
	.row {
		.column {
			margin-bottom: 0;
			&.left, &.right {
				width: 30%;
				.tutor-small {
					width: 50%;
					padding: 2% 15px;
					float: left;
					text-align: center;
					@media (max-width: 768px) {
						width: 25%;
					}
					@media (max-width: 400px) {
						width: 33%;
						&:last-child {
							display: none;
						}
					}
				}
			}
			&.middle {
				width: 40%;
				p + a.btn {
					margin-top: 42px;
					@media (max-width: 768px) {
						margin-bottom: 42px;
					}
				}
			}
			@media (max-width: 768px) {
				&.left, &.right, &.middle {
					width: 100%;
				}
			}
		}
	}
}

.relative-parent {
	position: relative;
}

.contact-row {
	> .row {
		position: relative;
	}
	.paul-photo-full {
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		width: 20%;
		@media (max-width: 900px) {
			display: none;
		}
		img {
			margin-bottom: 1rem;
		}
	}
	.form {
		position: relative;
		padding-left: 25%;
		@media (max-width: 900px) {
			padding-left: 0;
		}
	}
}



////////////////////////
//
//	Section 2: Contact Form
//
////////////////////////

a.contact-link {
	font-size: 21px;
	text-decoration: none;
	line-height: 1.5em;
	display: block;
	white-space: nowrap;
	&:hover {
		span {
			border-bottom: solid 1px $color-secondary;
		}
	}
	span {
		color: $color-secondary;
	}
	i {
		color: $color-secondary;
		display: inline-block;
		margin-right: 20px;
	}
	@media (max-width: 1140px) {
		font-size: 18px;
	}
	@media (max-width: 360px) {
		i {
			display: none;
		}
	}
}

strong.contact-info-header {
	font-size: 21px;
	text-decoration: none;
	line-height: 1.5em;
	white-space: nowrap;
	margin: 0;
	padding: 0;
	// border-bottom: solid 1px $color-primary;
	display: inline-block;
	margin: 0.5rem 0 0.5rem;
}

form#contactform {
	.tripwire {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		width: 0;
		z-index: -1;
	}
	label {
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		color: $color-dark;
		font-size: 15px;
		margin-bottom: 5px;
	}
	input, textarea {
		display: block;
		width: 100%;
		padding: 10px;
		box-shadow: none;
		font-size: 16px;
		border: solid 1px $color-strokeGray;
		font-family: $font-main;
		margin-bottom: 10px;
	}
	textarea {
		height: 120px;
		margin-bottom: 27px;
		resize: none;
	}
	input[type="submit"] {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		display: block;
		box-sizing: border-box;
		text-align: center;
		margin: 0 auto;
		border: solid 2px $color-secondary;
		color: $color-secondary;
		text-decoration: none;
		border-radius: 6px;
		transition: all .2s ease;
		background-color: $color-secondary;
		color: $color-white;
		max-width: 100%;
		&:hover {
			cursor: pointer;
			background-color: lighten($color-secondary, 8);
			border-color: lighten($color-secondary, 8);
		}
	}
}

article.body.contact {
	padding: 30px 0 260px;
	background-color: $color-ltGray;
	background-image: url('./images/background-new-york.jpg'); //fallback if no gradient
	background-image: linear-gradient(to bottom,  rgba($color-ltGray,.65) 0%,rgba($color-ltGray,0) 100%,rgba($color-ltGray,0) 100%),url('./images/background-new-york.jpg');
	background-repeat: no-repeat;
	background-position: bottom left;
	@media (min-width: 2000px) {
		background-size: 100% auto;
	}
	@media (max-width: 900px) {
		background-position: bottom center;
	}
	h3 {
		margin: 30px 0 40px;
	}
}

.email-success-message {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100vh;
	.modalBackdrop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(#000, .5);
	}
	.success-container {
		position: absolute;
		max-width: 400px;
		height: 200px;
		text-align: center;
		padding: 60px 20px;
		background-color: $color-white;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		a.close, button.close {
			position: absolute;
			top: 0;
			right: 0;
			padding: 10px;
			background-color: transparent;
			border: none;
			&:hover {
				cursor: pointer;
			}
			i.fa {
				color: $color-gray;
			}
		}
	}
}

.paul-photo-small {
	max-width: 200px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	img {
		max-height: 100%;
	}
	.title-text {
		position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(calc(-100% - 15px), 0);
	}
  @media (max-width: 500px) {
		position: static;
  	margin: auto;
		.title-text {
			position: static;
			transform: none;
			margin-top: 0.5rem;
		}
  }
}

.contact-header {
	position: relative;
	padding-right: 290px;
	min-height: 150px;
	margin-bottom: 20px;
	h1, h3 {
		text-align: left;
	}
  @media (max-width: 500px) {
  	padding-right: 0;
  }
}

form#contactform input.mousetrap {
	opacity: 0;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
}


////////////////////////
//
//	Section 3: Services Page
//
////////////////////////

article.body.services {
	.services-cover-photo {
		background-image: url('./images/background-pencil.jpg'); //fallback if no gradient
		background-image: -webkit-linear-gradient(left,  rgba(9,52,69,1) 0%, rgba(9,52,69,.5) 50%,rgba(9,52,69,0) 100%),url('./images/background-pencil.jpg');
		background-image: linear-gradient(to right,  rgba(9,52,69,1) 0%, rgba(9,52,69,.5) 50%,rgba(9,52,69,0) 100%),url('./images/background-pencil.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right top;
		padding-top: 38px;
		padding-bottom: 180px;
		@media (max-width: 500px) {
			padding-bottom: 38px;
		}
		@media (max-width: 350px) {
			background-image: none;
			background-color: $color-primary;
		}
		h1, h2, ul li {
			color: $color-white;
			text-align: left;
		}
		h2 {
			max-width: 790px;
			margin-bottom: 20px;
		}
		ul {
			max-width: 790px;
			li {
				float: left;
				width: 50%;
				@media (max-width: 680px) {
					width: 100%;
					float: none;
				}
			}
		}
	}
	.services-content {
		margin-top: -100px;
		@media (max-width: 500px) {
			margin-top: 40px;
		}
		.row {
			display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		}
		.card {
			width: 47%;
			float: left;
			&:first-child {
				margin-right: 6%;
			}
			@media (max-width: 1150px) {
				width: 49%;
				&:first-child {
					margin-right: 2%;
				}
			}
			@media (max-width: 950px) {
				width: 100%;
				&:first-child {
					margin-right: 0%;
					margin-bottom: 40px;
				}
			}
		}
	}
	.services-rates {
		background-color: $color-ltGray;
		padding: 108px 0 70px 0;
		margin-top: -75px;
		p {
			max-width: 800px;
			margin: 0 auto;
		}
	}
}

.card {
	background-color: $color-white;
	padding: 30px 60px;
	border: solid 1px #dadada;
	box-shadow: 0px 0px 12px 4px rgba(91,91,91,0.15);
	@media (max-width: 1150px) {
		padding: 30px 40px;
	}
	@media (max-width: 500px) {
		padding: 30px 20px;
	}
}

.learning-icon {
	text-align: center;
	.fa-book {
		font-size: 78px;
		color: $color-secondary;
		margin: 20px auto;
	}
	.fa-star {
		font-size: 48px;
		color: $color-secondary;
		&:not(:last-child) {
			margin-right: .6em;
		}
		@media (max-width: 400px) {
			font-size: 30px;
		}
	}
}


////////////////////////
//
//	Section 4: Specialists Page
//
////////////////////////

article.body.specialists {
	.specialists-header {
		background-color: $color-ltGray;
		padding: 30px 0;
		margin-bottom: 40px;
		h2 {
			text-align: center;
			margin-bottom: 20px;
		}
		p {
			max-width: 650px;
			margin: 0 auto;
		}
	}
}

.specialists-content {
	margin-bottom: 40px;
	.flex-row {
		-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-justify-content: space-between;
	    justify-content: space-between;
	}
	.specialist-avatar {
		width: 23%;
		margin-bottom: 20px;
		float: left;
		img {
			border-radius: 4000px;
			min-height: 176px;
			@media (max-width: 450px) {
				min-height: 120px;
			}
		}
		@media (max-width: 800px) {
			width: 30%;
		}
		@media (max-width: 600px) {
			width: 45%;
		}
		@media (max-width: 330px) {
			width: 100%;
		}
	}
}

.specialists-managers {
  padding: 30px 10px;
  h1 {
  	margin-bottom: 3rem;
  }
  &.founder {
		background-color: $color-ltGray;
		.manager-row {
			grid-template-columns: auto 1fr;
			.content {
				grid-column: 2;
			}
		}
  }
	.manager-row {
		display: grid;
		grid-column-gap: 5rem;
	  max-width: 1200px;
	  margin: 0 auto;
		grid-template-columns: 1fr auto;
		.image {
			img {
				max-width: 350px;
				border-radius: 4000px;
				margin: 0.4rem auto 1.2rem;
				margin-bottom: 1.2rem;
				display: block;
			}
			&.image-small {
				grid-column: 2;
				grid-row: 1;
				img {
					max-width: 240px;
				}
			}
			.text {
				margin-bottom: 1rem;
			}
		}
		.content {
			grid-row: 1;
			grid-column: 1;
			p {
				font-size: 14px;
			}
		}
	}
	@media (max-width: 950px) {
	  &.founder {
			.manager-row {
				grid-template-columns: auto;
		  	.content {
					grid-column: 1;
					grid-row: 2;
				}
			}
	  }
		.manager-row {
			grid-template-columns: auto;
			grid-template-rows: auto auto;
		  .image.image-small {
				grid-row: 1;
				grid-column: 1;
		  }
			.content {
				grid-row: 2;
				grid-column: 1;
			}
		}
	}	
}

.flex-row {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#clickForPaulTryon {
	margin-bottom: 0;
	text-align: center;
	a, button {
		text-decoration: none;
		border: none;
		background-color: transparent;
		border-bottom: solid 1px rgba(0,0,0,0);
		font-size: 27px;
    line-height: 1.5em;
    font-family: "Open Sans", "Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
    color: #0a3345;
    display: inline;
    outline: none;
		&:hover {
			border-bottom: solid 1px $color-dark;
			cursor: pointer;
		}
	}
}
#aboutPaulTryon {
	margin-top: 28px;
	.content-column {
		margin: auto;
		max-width: 700px;
	}
}

////////////////////////
//
//	Section 5: Testimonials Page
//
////////////////////////


article.body.testimonials {
	.testimonials-header {
		background-color: $color-ltGray;
		padding: 30px 0;
		margin-bottom: 40px;
		h2 {
			text-align: center;
			margin-bottom: 20px;
		}
		p {
			max-width: 650px;
			margin: 0 auto;
		}
	}
	a.testimonialCta {
		margin-bottom: 40px;
	}
}

.testimonialContainer {
	transition: background-color .2s ease;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	blockquote {
	    padding: 8px 8px 0px 70px;
	    &:before {
	    	left: 6px;
	    	top: 6px;
	    }
	    &:after {
	    	bottom: 6px;
	    	right: 6px;
	    }
	}
	.testimonialLink {
		display: block;
		opacity: 0;
		max-width: 100%;
		color: $color-white;
		background-color: $color-secondary;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border: none;
		margin-top: 20px;
		transition: opacity .2s ease;
		width: 100%;
		&:hover {
			background-color: lighten($color-secondary, 8);
			cursor: pointer;
		}
	}
	.testimonialModal {
		display: none;
		position: fixed;
		max-width: 880px;
		top: 10%;
		right: 0;
		left: 0;
		margin: auto;
		z-index: 1000;
		background-color: $color-white;
		box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
		border-radius: 6px;
		z-index: 100;
		.testimonialFull {
			max-height: 60vh;
			overflow: auto;
			padding: 30px 70px;
			position: relative;
			background-color: #fff;
			border-top-right-radius: 6px;
			border-top-left-radius: 6px;
			@media (max-width: 600px) {
				padding: 20px 30px;
			}
		}
		&:before {
			content: '';
			display: block;
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			z-index: -10;
			background-color: rgba(0, 0, 0, 0.5);
		}
		@media (max-width: 600px) {
			top: 3%;
		}
		cite {
			display: block;
			text-align: right;
			font-weight: 700;
			font-style: normal;
			padding: 12px 70px 12px 0px;
			font-size: 24px;
			line-height: 1.1em;
			background-color: #fff;
			small {
				font-size: 16px;
				font-weight: 400;
				color: $color-gray;
				display: block;
			}
		}
		.btn.closeModal {
			display: block;
			max-width: 100%;
			width: 100%;
			color: $color-white;
			background-color: $color-secondary;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border: none;
			margin-top: 0;
			transition: opacity .2s ease;
			&:hover {
				background-color: lighten($color-secondary, 8);
			}
		}
	}
	&:not(.active):hover {
		background-color: $color-ltGray;
		.testimonialLink {
			opacity: 1;
		}
	}
	&.active {
		.testimonialModal {
			display: block;
		}
	}
	@media (max-width: 768px) {
		background-color: $color-ltGray;
		.testimonialLink {
			opacity: 1;
		}
	}
}

body.modalOpen {
	overflow: hidden;
	.modalBackdrop {
		z-index: 900;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, .5);
	}
}

////////////////////////
//
//	Section 6: Pay Page
//
////////////////////////

#pay-redirect-page {
	#paypal-form { display: none; }
  #loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f6f6;
  }
  #loading .content {
    max-width: 600px;
    max-height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  h2 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    line-height: 1.2em;
    text-align: center;
    margin-top: 80px;
    color: #0a3345;
    font-style: italic;
  }
}
